name: Mostrar hola
on: 
  push:
    branch: [ main ]
jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
    - name: Escribir hola por pantalla
      run: |
        echo "Hola desde el runner de github"
